.output {
  display: none;
}

body {
  margin: 0px;
}

.row {
  display: flex;
  justify-content: space-around;
  background-color:black;
  color:white;
  font-size: 20px;
}

p {
  font-size: 20px;
}

.mobileHeader {
  display: none;
}

.header {
  color: white;
  position: fixed;
  width: 100%;
}

.space {
  padding: 20px;
}

.aboutme {
  background-color: white;
  color: black;
}

.headshot {
  width: 10%;
  margin: 20px;
}

.mid {
  background-color:white;
  color:black;
  align-items:center;
  font-size:50px;
  margin-top:5px;
  margin-bottom:5px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 30%;
}

.none { 
  text-decoration: none;
}

.none:hover {
  text-decoration: underline;
}

.section {
  text-align: center;
}

.about {
  margin: 50px;
}

.content {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.reverse {
  flex-direction: row-reverse;
}

.max {
  max-width: 100%;
}

.white {
  color: white;
}

.black {
  color: black;
}

.previewIMG {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer, .contact {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .mobileHeader {
    background-color:black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position:fixed;
    padding: 10px;
  }

  .logo {
    max-width: 50%;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    max-width: 100%;
  }

  .burger {
    max-width: 10%;
    filter: invert(100%)
  }

  .header {
    width: 100%
  }

  .row, .content {
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: static;
  }

  .about {
    margin: 0px;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin: 20px;
    max-width: 100%;
  }

  .space {
    display: none;
  }

  .headshot {
    margin: 0px;
  }

  .content {
    border-bottom: 1px solid gray;
    margin: 0px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 10vw;
  }
}